{% load custom_filters %}
{% load static %}
<script type="text/javascript">
    function slideInProduct(index,elem) {
        let duration = index*500*3;
        console.log(duration);
        $(elem).delay(duration).toggleClass("shown");
    }
    $("document").ready(() => {
        $(".product-image img").contextmenu((e) => { e.preventDefault() })
            .on("dragstart", (e) => { e.preventDefault() });
        $("button[data-action='minus']").click(function () {
            let productId = $(this).data('productid');
            $(`input[data-property="quantity"][data-productid="${productId}"]`)
                .val((i, v) => Math.max(0, parseInt(v) - 1)).trigger('change')
        })
        $("button[data-action='plus']").click(function () {
            let productId = $(this).data('productid');
            $(`input[data-property="quantity"][data-productid="${productId}"]`)
                .val((i, v) => parseInt(v) + 1).trigger('change');
        })
        $('input[data-property="quantity"]').change(function () {
            let productId = $(this).data('productid');
            $(this).val((i, v) => isNaN(parseInt(v)) ? 0 : v);
            let value = $(this).val();
            $(`button[data-action='minus'][data-productid="${productId}"]`)
                .prop("disabled", value <= 0);
            if (value >= 0 && (value > 0 || confirm("Remove product from cart?")))
                updateProductInCartWithIdAndQty(productId, value);
            else updateButtons(productId, value);
        }).val(-1).trigger('change');
        function addProductToCartById(productId){
            updateProductInCartWithIdAndQty(productId, 1);
        }
        function getProductsInCart(){
            $.ajax({
                url: `/store/cart/`,
                type: 'GET',
                success: function(response) {
                    let items = JSON.parse(response.json);
                    items.forEach(x => 
                        updateButtons(x.fields.product,x.fields.quantity)
                    );
                },
                error: function() {
                    alert('Error getting cart.');
                }
            })
        }
        function removeProductFromCart(){
            let productId = $(this).data('productid');
            updateProductInCartWithIdAndQty(productId, 0);
        }
        function addProductToCart(){
            let productId = $(this).data('productid');
            addProductToCartById(productId);
        }
        function updateButtons(productId, value){
            let btnAdd = $(`button[data-action="add"][data-productid="${productId}"]`);
            let btnRemove = $(`button[data-action="remove"][data-productid="${productId}"]`);
            let qtcQuantity = $(`.quantity-control[data-productid="${productId}"]`);
            let inpQuantity = $(`input[data-property='quantity'][data-productid="${productId}"]`);
            if (value > 0) {
                qtcQuantity.show();
                btnAdd.hide();
                btnRemove.show();
            }
            else {
                qtcQuantity.hide();
                btnRemove.hide();
                btnAdd.show();
            }
            inpQuantity.val(value);
        }
        function updateProductInCartWithIdAndQty(productId, quantity) {
            let csrftoken = Cookies.get('csrftoken');
            let btnAdd = $(`button[data-action="add"][data-productid="${productId}"]`);
            let btnRemove = $(`button[data-action="remove"][data-productid="${productId}"]`);
            let qtcQuantity = $(`.quantity-control[data-productid="${productId}"]`);
            $.ajax({
                url: `/store/merge-cart-item/`,
                headers: { 'X-CSRFToken': csrftoken },
                data: { qty: quantity, id: productId },
                type: 'POST',
                success: function (response) {
                    if (!response.success) alert
                        ('Failed to update product in cart.');
                    let value = response.quantity;
                    updateButtons(productId, value);
                },
                error: function () {
                    alert('Error updating product to cart.');
                }
            });
        }
        getProductsInCart();
        $('button[data-action="add"]').click(addProductToCart);
        $('button[data-action="remove"]').click(removeProductFromCart);
        $(".product-card").each(slideInProduct);
    });
</script>
<style type="text/css">
    .table-sef-mw {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        /* Adjust the number of columns */
    }

    .row {
        display: contents;
        /* Make rows transparent in terms of layout */
    }

    .tbody {
        display: contents;
    }

    .cell {
        padding: 10px;
        width: fit-content;
        /*border: 1px solid #ccc; /* Optional: Add borders for cell separation */
    }

    .cell:last-child {
        margin-left: auto;
    }

    .header .cell {
        font-weight: bold;
        background-color: #f2f2f2;
        /* Optional: Add background color for header */
    }

    .quantity-control {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .product-card {
        margin: 2em 2em;
    }

    .product-image {
        border-radius: 1em;
        padding: 1em;
        border: .1em solid grey;
        /*box-shadow: .05em .05em .05em .05em rgba(50, 50, 50, 0.5);*/
    }

    .product-card {
        transform: scale(0, 0);
        transform-origin: 50% 0%;
        max-height: 0;
        padding: .5em;
    }

    .product-card.shown {
        transform: scale(1,1);
        max-height: fit-content;
        transition-duration: .5s;
    }

    .flexxer-row {
        display: flex;
        justify-content: space-between;
        justify-items:safe;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flexxer-column {
        display: flex;
        gap: 1em;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }
</style>
{% for product in products %}
<div class="mdc-card product-card" data-productid="{{ product.id }}">
    <div class="flexxer-row">
        <div class="flexxer-row" style="justify-items: safe; gap: .5em">
            <div class="product-image" data-productid="{{product.id}}" style="width: fit-content;">
                <img src="{% get_media_prefix %}products/{{product.id}}.png" 
                    width="128" height="128"
                    id="{{product.id}}_prod_img" />
            </div>
            <div class="flexxer-column" 
            style="justify-content: start; gap: 1em; font-style: oblique; font-size: 1.5em;">
                {{product.title}}
                <div style="font-style: normal; font-size: .75em; max-width: 30em;">{{product.description}}</div>
                {% with product.price|split_price as price_parts %}
                <div>
                    <span style="font-size: 2em; font-style: italic; font-weight: bold;">$</span>
                    <span style="font-size: 2em;">{{price_parts.integer}}</span>
                    <span style="vertical-align: top; line-height: 2.5em;">.{{price_parts.decimal}}</span>
                </div>
                {% endwith %}
            </div>
        </div>
        <!--<div class="flexxer-row">-->
        <!--</div>-->
        <div class="flexxer-column" style="margin-left: auto; justify-content: space-around; justify-items: center;">
            <div class="flexxer-column" style="align-self: flex-end;">
                <button data-productid="{{product.id}}" 
                    class="mdc-button--raised"
                    data-action="add">
                        Add to Cart
                </button>
                <button data-productid="{{product.id}}" 
                    class="mdc-button--raised"
                    data-action="remove">
                        Remove
                </button>
                <div class="quantity-control" data-productid="{{product.id}}">
                    <button data-productid="{{product.id}}" data-action="minus" style="display: inline;"
                        class="mdc-button--outlined" id="{{product.id}}_minus_button">-</button>
                    <input data-productid="{{product.id}}" data-property="quantity" type="text"
                        style="display: inline; width: 3em; text-align: center;" class="mdc-text-field__input"
                        id="{{product.id}}_qty_field">
                    <button data-productid="{{product.id}}" data-action="plus" style="display: inline;"
                        class="mdc-button--outlined" id="{{product.id}}_plus_button">+</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}